<div class="modal-header">
  <h4 class="modal-title pull-left">{{product.name}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-center m-4">
    <img [src]="product.imgLink" class="img-fluid" alt="Responsive image">
  </div>
  <div class="row text-center m-4">
    <div class="col">
      Цена: {{ product.price | number }} р.
    </div>
    <div class="col flex-row">
      <a (click)="decrease()"><i class="fas fa-long-arrow-alt-down"></i></a>
      <a (click)="increase()"><i class="fas fa-long-arrow-alt-up"></i></a>
      <input type="number" class="form-control" readonly
             [(ngModel)]="input">
<!--      <a (click)="addToCart()"><i class="fas fa-cart-plus"></i></a>-->
      <button type="button" class="btn btn-success mx-2" (click)="addToCart(product.id)">Добавить в корзину</button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr class="text-center">
      <th scope="col">Наименование, ед. измерения</th>
      <th scope="col">Значение</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let proFeature of product.features">
      <!--      <th scope="row">1</th>-->
      <td>{{proFeature.name}}</td>
      <td>{{proFeature.value}}</td>
    </tr>
    </tbody>
  </table>
  <!--  <ul *ngIf="list.length">-->
  <!--    <li *ngFor="let item of list">{{item}}</li>-->
  <!--  </ul>-->
</div>
<!--<div class="modal-footer">-->
<!--  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>-->
<!--</div>-->
