.modal-dialog {
  margin-top: 200px;

  input {
    width: 60px;
    display: inline-block;
    text-align: center;
    //padding-left: 15px;
    //vertical-align: center;

    &[readonly] {
      background-color: white;
    }
  }

  a {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .col, a {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

}
