<h1>Прайс-лист</h1>
<div class="bg-light border rounded shadow p-3 mb-5 " *ngIf="database && inputs">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr class="d-flex text-center">
        <th class="col-1">#</th>
        <th class="col-6">Наименование</th>
        <th class="col-2">Количество</th>
        <th class="col-1">Цена</th>
        <th class="col-2"></th>
      </tr>
      </thead>
      <tbody>
      <tr class="d-flex text-center" *ngFor="let item of database; let i = index">
        <th class="col-1">{{ i + 1}}</th>
        <td class="col-6 text-left"><a [routerLink]="['/dashboard/product', item.id]">{{ item.name }}</a></td>
        <td class="col-2" style="display: flex;  justify-content: center;  align-content: center; flex-direction: column;">{{ item.quantity }}</td>
        <td class="col-1" style="vertical-align: middle;">{{ item.price }}</td>
        <td class="col-2 flex-row">
          <a (click)="decrease(i)"><i class="fas fa-long-arrow-alt-down"></i></a>
          <a (click)="increase(i)"><i class="fas fa-long-arrow-alt-up"></i></a>
          <input type="number" class="form-control" readonly
                 [(ngModel)]="inputs[i]">
          <a (click)="addToCart(item.id, i)"><i class="fas fa-cart-plus"></i></a>
          <!--          <button type="button" class="btn btn-sm">-->
          <!--          </button>-->
          <!--          <button type="button"  class="btn btn-sm">-->
          <!--            <i class="fas fa-long-arrow-alt-down p-1"></i>-->
          <!--          </button>-->
          <!--          <button type="button" class="btn btn-outline-dark" (click)="submit(item.id)">-->
          <!--          </button>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

