<h1>Мой профиль <i class="fas fa-address-card"></i></h1>
<div *ngIf="isLoading">
  <div class="spinner-border" role="status">
  </div>
  <span class="">Loading...</span>
</div>
<div class="col-xl-10 bg-light border rounded shadow p-3 mb-5" *ngIf="!isLoading">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="Электронная почта"
                 [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}" readonly>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Имя:</label>
          <input type="text" id="name" class="form-control" formControlName="name" placeholder="Имя"
                 [ngClass]="{'is-invalid': form.get('name').touched && form.get('name').invalid}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="surname">Фамилия:</label>
          <input type="text" id="surname" class="form-control" formControlName="surname" placeholder="Фамилия"
                 [ngClass]="{'is-invalid': form.get('surname').touched && form.get('surname').invalid}">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="telephone">Мобильный телефон:</label>
          <input type="tel" id="telephone" class="form-control" placeholder="+375 (**) ***-**-**"
                 formControlName="telephone" [textMask]="{mask: phoneMask}"
                 [ngClass]="{'is-invalid': form.get('telephone').touched && form.get('telephone').invalid}">
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-success btn-block"
                [disabled]="form.invalid">Сохранить
        </button>
      </div>
    </div>

  </form>
</div>

<h3>Изменение пароля <i class="fas fa-lock"></i></h3>
<div class="col-xl-4 bg-light border rounded shadow p-3 mb-5" *ngIf="!isLoading">
  <div class="alert alert-danger" *ngIf="profileService.error$ | async as error">
    {{ error }}
  </div>
  <form [formGroup]="formChangePassword" (ngSubmit)="changePassword()">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group" [ngClass]="{'was-validated': formChangePassword.get('oldPass').valid}">
          <label for="oldPass">Старый пароль:</label>
          <div class="input-group">
            <input [type]="hideOld ? 'password' : 'text'" id="oldPass" class="form-control" formControlName="oldPass"
                   data-toogle="password"
                   [ngClass]="{'is-invalid': formChangePassword.get('oldPass').touched && formChangePassword.get('oldPass').invalid}">
            <div class="input-group-append">
              <button class="input-group-text" (click)="hideOld = !hideOld">
                <i class="fa"
                   [ngClass]="{'fa-eye': hideOld, 'fa-eye-slash': !hideOld}"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group" [ngClass]="{'was-validated': formChangePassword.get('newPass').valid}">
          <label for="newPass">Новый пароль:</label>
          <div class="input-group">
            <input [type]="hideNew ? 'password' : 'text'" id="newPass" class="form-control" formControlName="newPass"
                   [ngClass]="{'is-invalid': formChangePassword.get('newPass').touched && formChangePassword.get('newPass').invalid}">
            <div class="input-group-append">
              <button class="input-group-text" (click)="hideNew = !hideNew">
                <i class="fa"
                   [ngClass]="{'fa-eye': hideNew, 'fa-eye-slash': !hideNew}"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group"
             [ngClass]="{'was-validated': formChangePassword.get('confirmPass').touched && formChangePassword.get('newPass').valid && formChangePassword.get('confirmPass').value === formChangePassword.get('newPass').value }">
          <label for="confirmPass">Повторить пароль:</label>
          <div class="input-group">
            <input
              [type]="hideConfirm ? 'password' : 'text'" id="confirmPass" class="form-control" formControlName="confirmPass"
              [ngClass]="{'is-invalid': formChangePassword.get('confirmPass').touched && (formChangePassword.get('confirmPass').invalid || formChangePassword.get('confirmPass').value !== formChangePassword.get('newPass').value)}">
            <div class="input-group-append">
              <button class="input-group-text" (click)="hideConfirm = !hideConfirm">
                <i class="fa"
                   [ngClass]="{'fa-eye': hideConfirm, 'fa-eye-slash': !hideConfirm}"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <button type="submit" class="btn btn-success"
              [disabled]="formChangePassword.invalid || submitted">
        Изменить
      </button>
    </div>

  </form>
</div>
